<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="com.listeners.TestListener" />
	</listeners>

  <test name="BDD type of testing">
  
    <classes>
      <class name="com.crud.tests.CRUDTestBDD"/>
    </classes>
    
  </test>
  
   <test name="Req/Res spec type of testing">
  
    <classes>
      <class name="com.crud.tests.CRUDTestNormal"/>
    </classes>
    
  </test>
  
</suite>
